.queryContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 650px;
  gap: 40px;
}

.tabsActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.actionsBlock {
  display: flex;
  align-items: center;
  gap: 35px;
}

.runButton {
  width: 100px;
  height: 30px;
  background-color: #007bff;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.databaseSelect {
  width: 72px;
  height: 37px;
  padding: 5px;
  border: none;
  background-color: transparent;
}

.queryEditor {
  display: flex;
  position: relative;
}
