.access {
    border-radius: 10px;
    padding: 18px 25px;
    background: rgb(255, 255, 255);
    width: 450px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    text-align: center;
}

.accessTitle {
    color: rgb(14, 8, 37);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 15px;

    span {
        font-weight: 600;
    }
}

.addRole {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.addRoleName {
    position: relative;

    span {
        color: rgb(111, 95, 121);
        font-size: 15px;
        font-weight: 400;
        line-height: 140%;
        margin-right: 12px;
    }

    img {
        transition: all .3s ease-in;
        cursor: pointer;
    }
}

.addRoleDndMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25px;
    left: 0;
}

.addRoleDndItem {
    padding: 5px;
    color: rgb(111, 95, 121);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 100%;
    text-align: left;

    &:hover {
        background: rgb(111, 95, 121);
        color: #fff;
    }
}

.userTitle {
    text-align: left;
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    border-bottom: 1px solid rgb(135, 132, 146);
    margin-bottom: 10px;
}

.usersWrapper {
    min-height: 260px;
    max-height: 260px;
    height: max-content;
    overflow-y: auto;
    border-bottom: 1px solid rgb(135, 132, 146);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-resizer {
        display: none;
    }
}

.userItem {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userBg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #9A2FED;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.userName {
    color: rgb(14, 8, 37);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
}

.userMail {
    color: rgb(135, 132, 146);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}


.restrictedTitle {
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 20px;
}

.addRoleRectricted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

.addRoleRectrictedContent {
    display: flex;
    align-items: center;
    position: relative;

    img {
        cursor: pointer;
    }

    span {
        font-weight: 600;
        margin: 0 10px;
    }
}

.addRoleRectrictedinfo {
    color: rgb(111, 95, 121);
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    width: 184px;
    margin-top: 3px;
}

.accessBtnWrapper {
    display: flex;
    justify-content: space-between;
}

.accessBtnItem {
    display: flex;
    align-items: center;
    border: 1px solid rgb(111, 95, 121);
    border-radius: 9px;

    background: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
    transition: all .3s ease-in-out;

    &:hover {
        border: 1px solid rgb(111, 95, 121);
        border-radius: 9px;

        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 1);

    }

    &:active {
        background: rgb(87, 170, 228);
        color: #fff;
    }
}