.access {
    border-radius: 10px;
    padding: 18px 25px;
    background: rgb(255, 255, 255);
    width: 450px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    text-align: center;
}

.accessTitle {
    color: rgb(14, 8, 37);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 15px;

    span {
        font-weight: 600;
    }
}

.addRole {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.addRoleName {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 10px;

    span {
        color: rgb(111, 95, 121);
        font-size: 15px;
        font-weight: 400;
        line-height: 140%;
    }

    img {
        transition: all .3s ease-in;
        cursor: pointer;
        width: 20px;
        height: 10px;
        padding: 0 5px;

    }

    .selectedRole {
        color: #57aae4;
        padding-left: 20px;
    }
}


.addRoleDndMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25px;
    left: -25px;
    z-index: 1;
}

.addRoleDndItem {
    padding: 5px;
    color: rgb(111, 95, 121);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 100%;
    text-align: left;

    &:hover {
        background: rgb(111, 95, 121);
        color: #fff;
    }
}

.userTitle {
    text-align: left;
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    border-bottom: 1px solid rgb(135, 132, 146);
    margin-bottom: 10px;
}

.usersWrapper {
    min-height: 260px;
    max-height: 260px;
    height: max-content;
    overflow-y: auto;
    border-bottom: 1px solid rgb(135, 132, 146);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-resizer {
        display: none;
    }
}

.userItem {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userBg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9A2FED;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.userName {
    color: rgb(14, 8, 37);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
}

.userMail {
    color: rgb(135, 132, 146);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}


.restrictedTitle {
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 20px;
}

.addRoleRectricted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

.addRoleRectrictedContent {
    display: flex;
    align-items: center;
    position: relative;

    img {
        cursor: pointer;
        padding: 0 5px;
    }

    span {
        font-weight: 600;
    }
}

.addRoleRectrictedinfo {
    color: rgb(111, 95, 121);
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    width: 184px;
    margin-top: 3px;
}

.accessBtnWrapper {
    display: flex;
    justify-content: space-between;
}

.accessBtnItem {
    display: flex;
    align-items: center;
    border: 1px solid rgb(111, 95, 121);
    border-radius: 9px;

    background: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(111, 95, 121);
    font-size: 15px;
    font-weight: 600;
    line-height: 140%;
    transition: all .3s ease-in-out;

    &:hover {
        border: 1px solid rgb(111, 95, 121);
        border-radius: 9px;

        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 1);

    }

    &:active {
        background: rgb(87, 170, 228);
        color: #fff;
    }
}

.connectTitle {
    color: rgb(14, 8, 37);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
}



.connectCheckBoxWrapper {
    display: flex;
    align-items: center;
    position: relative;

    input {
        margin-right: 5px;
        transition: all 0.3s ease-in-out;
    }

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid #878492;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        position: relative;
        z-index: 1;
    }

    input[type="checkbox"]:checked {
        background-color: #57aae4;
    }

    .iconCheck {
        position: absolute;
        right: 5px;
        opacity: 0;
        transform: scale(0.8) translateX(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
        width: 30px;
        height: 30px;
        background: url('../../assets/images/common/send-mail.svg') no-repeat center center;
        background-size: contain;
        z-index: 0;
    }

    input[type="checkbox"]:not(:checked):hover+.connectTitle+.iconCheck {
        opacity: 1;
        transform: scale(1) translateX(0);
        animation: moveIcon 0.6s infinite alternate ease-in-out;
    }

    input[type="checkbox"]:not(:checked):hover+.connectTitle,
    input[type="checkbox"]:not(:checked):checked+.connectTitle {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    input[type="checkbox"]:checked+.connectTitle+.iconCheck {
        display: none;
    }

    @keyframes moveIcon {
        0% {
            transform: scale(1) translateX(0);
        }

        100% {
            transform: scale(1) translateX(5px);
        }
    }
}