.sectionWrapper {
  background-image: url("../../images/common/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - 77px);
  z-index: 5;
  display: flex;
}

.searchBlock {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: inherit;
  padding: 10px 0;
  min-width: 240px;
  height: 100vh;
  overflow: hidden;
}

.tabsWrapper {
  margin-top: 10px;
  height: calc(100vh - 100px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-resizer {
    display: none;
  }
}

.tabsItem {
  padding: 10px 10px 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.active {
    background: rgba(207, 170, 229, 0.5);
  }
}

.tabsName {
  color: rgb(14, 8, 37);
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  margin-left: 5px;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabsDots {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  position: relative;

  img {
    transition: transform 0.5s ease;
  }
}

.dotsChangeWrapper {
  position: absolute;
  top: -6px;
  right: 20px;
  z-index: 11;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 150px;

  span {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }
}

.dotsChangeRename {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #f5f5f5;
  }
}

.dotsChangeDelete {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: rgb(230, 18, 69);
    background-color: #f5f5f5;
  }
}

.sectionMainContent {
  width: 100%;
}

.tabsTopBlock {
  background: linear-gradient(
    0deg,
    rgba(135, 132, 146, 0.2),
    rgba(135, 132, 146, 0.04) 13.542%
  );
  display: flex;
  padding: 0 30px;
  position: relative;
}

.tabsTopBlockWrapper {
  display: flex;
  align-items: flex-end;
  max-width: 700px;
  width: 100%;
  height: 52px;
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-resizer {
    display: none;
  }
}

.tabsLeft {
  position: absolute;
  top: 20px;
  left: 10px;
}

.tabsLeft,
.tabsRight {
  border: none;
  background: none;
  cursor: pointer;
}

.tabsRight {
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 15px;
}

.tabsTopWrapper {
  display: flex;
  margin-right: 15px;
}

.tabsTopItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 9px 9px 0px 0px;

  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &.active {
    background: rgba(207, 170, 229, 0.5);
  }
}

.tabsTopName {
  font-weight: 600;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabsTopDots {
  margin-left: 30px;
  border: none;
  background: none;
}

.sectionChatWrapper {
  margin-left: auto;
}

.fileItem {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FolderArrowRight {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuWrapper {
  position: absolute;
  top: 100%;
  left: calc(100% - 150px);
  z-index: 1000;
}

.folderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}

.folderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.folderInfo {
  display: flex;
  align-items: center;
}

.folderInfo img {
  margin-right: 10px;
}

.tabsDots {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.folderSubItems {
  padding-left: 20px;
}

.files {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__page {
    height: 100vh;
    width: 100%;
    padding: 20px;
  }

  &__grid {
    display: flex;
    margin-top: 100px;
    gap: 36px;
  }
  &__fileItem {
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__actions {
    display: flex;
    gap: 20px;
  }
}

.folder {
  &__titleWithMenu {
    display: flex;
    gap: 12px;
  }
}
