.contextMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 30px;
  top: -10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 180px;

  &__row {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    gap: 10px;
    width: 100%;
    &:hover {
      background-color: #f5f5f5;
    }
  }

  button {
    background: none;
    border: none;
    // padding: 10px 20px;
    // width: 100%;
    // text-align: left;
    cursor: pointer;
  }
}

.contextMenuForView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 180px;
}
.deleteButton {
  padding-left: 15px;
  color: red;
}

.folderItem {
  list-style-type: none;
  display: block;
}

.folderHeader,
.fileHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.folderHeader img,
.fileHeader img {
  margin-right: 10px;
}

.subFolderList {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.selectedItem {
  background-color: #e0d7f9;
}
